{% extends 'NutriPower.html' %} {% block content %}
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listagem de Alimentos:</h3>
  </div>
  <div class="box-body">
    <div id="alimentos_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-6">
          <div class="dataTables_length" id="alimentos_length">
            <label>Mostraranto 10 Alimentos</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="alimentos_filter" class="dataTables_filter">
            <label>Buscar:
              <input type="search" class="form-control input-sm" placeholder="" aria-controls="alimentos">
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table id="alimentos" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="alimentos_info">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                  style="width: 100px;">Nome Alimento </th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                  style="width: 100px;">Proteínas (g) </th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending"
                  style="width: 100px;">Gorduras (g) </th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
                  style="width: 100px;">Carboidratos (g) </th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                  style="width: 100px;">Calorias (Kcal) </th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                  style="width: 100px;">Colesterol (mg) </th>
              </tr>
            </thead>
            <tbody id="corpoTabela">
              {% for a in lista %}
              <tr role="row" class="odd" id="linha">
                <td class="sorting_1" id="nomeAlimento">{{a.nome}}</td>
                <td id="proteina">{{'%0.2f'| format(a.proteina|float)}}</td>
                <td id="gordura">{{'%0.2f'| format(a.lipidio|float)}}</td>
                <td id="carboidrato">{{'%0.2f'| format(a.carboidrato|float)}}</td>
                <td id="caloria">{{'%0.2f'| format(a.Kcal|float)}}</td>
                <td id="colesterol">{{'%0.2f'| format(a.colesterol|float)}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th rowspan="1" colspan="1">Nome Alimento </th>
                <th rowspan="1" colspan="1">Proteínas (g) </th>
                <th rowspan="1" colspan="1">Gorduras (g) </th>
                <th rowspan="1" colspan="1">Carboidratos (g) </th>
                <th rowspan="1" colspan="1">Calorias (Kcal) </th>
                <th rowspan="1" colspan="1">Colesterol (mg) </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="alimentos_info" role="status" aria-live="polite">Mostrando 1 a 10</div>
        </div>
        <div class="col-sm-7">
          <div class="dataTables_paginate paging_simple_numbers" id="paginacao">
            <ul class="pagination">
                {% if page > 1 %}
                <li class="paginate_button previous">
                  <a href="./?page={{ page - 1 }}" aria-controls="alimentos" data-dt-idx="0" tabindex="0">Anterior</a>
                </li>
                {% endif %}
                {% for p in range(1,paginacoes+1) %}
                {%if p < 10 %}
                <li class="paginate_button">
                  <a href="./?page={{p}}" a data-dt-idx="1" tabindex="0">{{p}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {%if page >= 10 %}
                <li class="paginate_button">
                    <a href="" a data-dt-idx="1" tabindex="0">...</a>
                  </li>
                <li class="paginate_button">
                  <a href="./?page={{page}}" a data-dt-idx="1" tabindex="0">{{page}}</a>
                </li>
                {% endif %}
                {% if page < paginacoes %}
                <li class="paginate_button next" id="paginacao">
                  <a href="./?page={{ page + 1 }}" data-dt-idx="0" tabindex="0">Próxima</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="submit" class="btn btn-default">
  <a href="../NutriPower.html" style="color: black">Cancelar</a>
</button>

{% endblock %}