 {% extends 'NutriPower.html' %} {% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="box box-primary">

  <script>
    function onchangeBusca(busca) {
      var nome = busca.value;
      window.location.href = "/Refeicao/BuscarAlimentoRefeicao/?nome=" + nome;
    }
  </script>
 <script>
    function onchangeInserir(busca) {
      window.location.href = "/Refeicao/CadastroRefeicao/" + busca;
    }
  </script>

  <script src="/static/validaDados.js"></script>




  <div class="box-body">
      <div class="form-group">

  <form role="form" method="POST" action="/Refeicao/CadastroRefeicao/" onsubmit="return validaForm(this);" enctype="multipart/form-data">
    <div class="box-body">
      <div class="form-group">


        <div style="width: 450px;" class="form-group">
          <label>Nome Refeição</label>
          <input value="{{form.nome}}" type="text" class="form-control" name="nome">
        </div>

        <div style="width: 150px" class="form-group">
          <label>Horário</label>
          <input value="{{form.horario}}" type="text" class="form-control" name="horario">
        </div>
      </div>

    {% if msg == 'cad' %}
    <button type="submit" class="btn btn-info pull-right">Salvar</button>
    {% endif %}
  </form> 
  
</div>

</div>


{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    var alimentos = JSON.parse('{{alimentos|safe}}');
    $("#busca").autocomplete({
      source: alimentos
    });
  });
</script> {% endblock %}