{% extends 'NutriPower.html' %} {% block content %}

<div class="box box-primary">

 <form role="form" method="POST" action="/Dieta/CadastroDieta/" enctype="multipart/form-data">
   <div class="box-body">
     <div class="form-group">

       <div style="width: 450px;" class="form-group">
         <label>Nome Dieta</label>
         <input value="{{form.nome}}" type="text" class="form-control" name="nome">
       </div>

       <div style="width: 150px" class="form-group">
         <label>Objetivo</label>
         <input value="{{form.objetivo}}" type="text" class="form-control" name="objetivo">
       </div>

       <button type="submit" class="btn btn-info">Salvar</button>
</form>

</div>

{% endblock %}