{% extends 'NutriPower.html' %} {% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
  function onchangeBusca(busca) {
    var nome = busca.value;
    window.location.href = "/Dieta/BuscarDieta/?busca=" + nome;
  }
</script>
<form action="/Dieta/BuscarDieta/" method="GET">
  <div style="width: 450px;" class="form-group ui-widget">
    <label>Buscar Dieta:</label>
    <input type="search" class="form-group input-sm" id="busca" aria-controls="example1" name="busca" onchange="onchangeBusca(this)">
  </div>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>


  {% endblock %} 
  {% block scripts %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      var dietas = JSON.parse('{{dietas|safe}}');
      $("#busca").autocomplete({
        source: dietas
      });
    });
  </script> {% endblock %}